<div class="auth-form" ng-app="myApp" ng-controller="forgotPasswordController">
  <div class="cover">
    <div class="cover-title">Please enter your email to reset!</div>

    <!-- <button class="btn">
            Reset OTP
        </button> -->
  </div>
  <div class="form" ng-class="slide-right">
    <!-- <h1>Enter your new password</h1> -->
    <form action="" class="">
      <div class="form-group">
        <label for="">Email</label>
        <input
          type="email"
          ng-model="email"
          placeholder="johndoe@example.com"
        />
      </div>

      <div class="btn-container">
        <button class="btn" ng-click="submit()">Continue</button>
      </div>
      <div class="form-footer">
        Remember your password?
        <span class="" ng-click="change()"> Login </span>
      </div>
    </form>
  </div>
</div>
