<div class="auth-form" ng-app="myApp" ng-controller="resetPasswordController">
  <div class="cover">
    <div class="cover-title">Please reset your password!</div>

    <!-- <button class="btn">
            Reset OTP
        </button> -->
  </div>
  <div class="form" ng-class="slide-right">
    <h1>Enter your new password</h1>
    <form action="" class="">
      <!-- <div class="form-group">
                <label for="">Email</label>
                <input type="email" ng-model="email" placeholder="johndoe@example.com">
            </div> -->
      <div class="form-group">
        <label>New Password</label>

        <input
          type="{{ showNewPassword ? 'text' : 'password' }}"
          ng-model="newPassword"
          placeholder="Enter your new password"
        />

        <div
          ng-class="{'eyes' : showNewPassword, 'eyes-slash' : !showNewPassword}"
          ng-click="toggleNewPasswordVisibility()"
        ></div>
      </div>
      <div class="form-group">
        <label for="">Re-type New Password</label>
        <input
          type="{{ showReTypeNewPassword ? 'text' : 'password' }}"
          ng-model="reTypeNewPassword"
          placeholder="Re-type your new password"
        />

        <div
          ng-class="{'eyes' : showReTypeNewPassword, 'eyes-slash' : !showReTypeNewPassword}"
          ng-click="toggleReTypeNewPasswordVisibility()"
        ></div>
      </div>

      <div class="btn-container">
        <button class="btn" ng-click="submit()">Reset</button>
      </div>
      
    </form>
  </div>
</div>
